<html>
  <head>
    <meta charset="utf-8" />
    <title>FacesBook</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/faces-book.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/tooltip.css">
    <script src="js/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="js/jquery-ui.js"    type="text/javascript"></script>
    <script src="js/faces-book.js"   type="text/javascript"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
